@model AccountVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>Reset password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Login start -->
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Reset your password</h2>
                            <span>Fill the fields and submit the button</span>
                        </div>
                        <div class="login-form">
                            <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

                            <form method="post">
                                <input asp-for="Password" placeholder="Password"><br />
                                <div style="display:none">
                                    <input asp-for="Token" class="form-control" />
                                    <input asp-for="AppUser.Email" class="form-control" />
                                </div>
                                <input asp-for="ConfirmPassword" placeholder="Confirm password"><br />





                                <button type="submit" class="default-btn">Reset password!</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

