@model List<Course>

@{
    ViewData["Title"] = "Index";
}

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2 id="testt">courses</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>
                        search courses

                        <input id="host" type="hidden" value="@Context.Request.Host" />

                    </h3>
                </div>
                <div class="course-form">
                    <form method="get" asp-action="search" asp-controller="course">
                        <input required type="text" name="Name" id="Name" />
                        <button disabled type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row searchingZone">

            @await Html.PartialAsync("_CoursePartialView", Model)



        </div>
    </div>
</div>


@section Scripts{




    <script>
        $(document).ready(function () {

            $("#Name").keyup(function () {




                var searchText = $("#Name").val().trim().toLowerCase();
              
                var url =  '/Course/LiveSearch?Name=' + searchText



                console.log(url)

                fetch(url).then(res => res.text()).then(data => {


                    $(".searchingZone").empty();
                    $(".searchingZone").append(data);

                });

            })

        })
    </script>


}
