@model List<Course>
@{
    ViewData["Title"] = "Index";
}

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form method="get" asp-action="search" asp-controller="course">
                        <input required type="text" name="Name" id="Name" />
                        <button disabled type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div  class="row searchingZone">
            
            @await Html.PartialAsync("_CoursePartialView",Model)



        </div>
    </div>
</div>


@section Scripts{


      <script>
          $(document).ready(function () {

              function Contains(text_one, text_two) {
                  if (text_one.indexOf(text_two) != -1) {
                      return true;
                  }
              }

              $("#Name").keyup(function () {
                  var searchText = $("#Name").val().toLowerCase();
                  $(".courseForSearch").each(function () {
                      if (!Contains($(this).text().toLowerCase(), searchText)) {

                          $(this).css("display","none")

                      }
                      else {
                          $(this).css("display","block")
                      }
                  })
              })

            

          })
      </script>


 }
<!-- Course End -->
<!-- Subscribe Start -->

